# More SQL with SQLite in Python

**Note:** Ensure the `sakila.db` file is in your working directory before running the notebook.

In [ ]:
import sqlite3
import pandas as pd

# Set the path to the SQLite database
db_path = "sakila.db"

# Connect to SQLite database
conn = sqlite3.connect(db_path)
print("Connected to SQLite Sakila database!")

### Exploring the Database Schema

Before diving into queries, it's useful to know which tables are available in the Sakila database. We'll list all tables by querying the SQLite master table.

In [ ]:
# List all tables in the database
tables = pd.read_sql("""SELECT name 
                        FROM sqlite_master 
                        WHERE type='table';""", conn)

print("Tables in the database:")
print(tables)

## Part 1. Other Operations
These operations help you filter numeric data and handle potential NULLs. We’ll use the film table as an example:

### BETWEEN Operator
Select films where the film length is within a specified range.

In [ ]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_between = """

                """

# Execute the query using pd.read_sql.
df_between = pd.read_sql(query_between, conn)

print("Select films between 80 and 120 minutes:")
print(df_between)

### IS NOT NULL Operator
Ensure that you only fetch rows with actual (non-null) values.

In [ ]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_nonnull = """

                """

# Execute the query using pd.read_sql.
df_nonnull = pd.read_sql(query_nonnull, conn)

print("Drop rows without descriptions:")
print(df_nonnull)

### IN Operator
Filter rows by matching a column against a list of values.

In [ ]:
# Define SQL query to fetch the first 5 rows from the actor table.
query_rating = """

               """

# Execute the query using pd.read_sql.
df_rating = pd.read_sql(query_rating, conn)

print("Query of distint count of actors per title and G and PG rated films:")
print(df_rating)

## Part 2. Text Operations
Use the LIKE operator with wildcards to match text patterns—again, using the `film` table:

Using Wildcards with LIKE:

- `%` matches zero or more characters.
- `_` matches exactly one character.

In [ ]:
query_wildcard1 = """

                  """

# Execute the query using pd.read_sql.
df_wc1 = pd.read_sql(query_wildcard1, conn)

print("Query films that either start with A or end with s:")
print(df_wc1)

In [ ]:
query_wildcard2 = """

                  """

# Execute the query using pd.read_sql.
df_wc2 = pd.read_sql(query_wildcard2, conn)

print("Query films where the second letter is 'a':")
print(df_wc2)

# Group Exercises
- Find a neighbor, yes, move around and make a new friend!
- Work through the following practice exercises together.

# Partner Practice Exercise

Now that we've seen several examples of JOINs and aggregation queries, it's time for you to practice with a partner. Complete the following tasks using the Sakila database:

1. **Challenge 1: Short Films with Language**
   - Write a query that returns each film’s title, description, and language name (labeled as “language”) from the `film` and `language` tables, for all films with length under 100. Join `film.language_id` to `language.language_id` to retrieve the language name.

2. **Challenge 2: Specific Ratings Filter with Language**
   - Write a query to display each film’s title, rating, and language name (as “language”) for all films whose rating is either ‘PG-13’ or ‘R.’ Join film.language_id to language.language_id.

3. **Challenge 3: Pattern Matching on Film Titles with Category**
   - Write a query to list each film’s title and its category name (as “category”) for all films whose title begins with “T” or ends with “s.” Join film to film_category and then to category to retrieve the category name.

4. **Challenge 4: Single-Character Wildcard with Actor Join**
   - Write a query that lists each film’s title and the actor’s full name (using first_name || ' ' || last_name) for all films whose title has “y” as the second character. Join film, film_actor, and actor on their respective IDs.

5. **Challenge 5: Distinct Customer Payments and Rentals**
   - Write a query to display each customer’s ID along with the total number of distinct payments and rentals they have made. Use LEFT JOIN with the payment and rental tables, group by the customer, and order by total payments (descending) then total rentals (descending).

6. **Challenge 6: Advanced Filtering with Category**
   - Write a query that returns each film’s title, rental rate, length, and category (labeled as “category”) for films whose rental rate is between 2.99 and 4.99, rating is either ‘PG’ or ‘R,’ and title starts with “A.” Join film to film_category and category to retrieve the category name.
         - HINT: USE `AND` as a dependent clause of your `WHERE` clause to create multiple conditions.
         
Discuss your approaches with your partner, compare your results, and be ready to review a few solutions as a class.

In [ ]:
query_chal1 = """

              """

# Execute the query using pd.read_sql.
df_chal1 = pd.read_sql(query_chal1, conn)

print("Challenge 1")
print(df_chal1)

In [ ]:
query_chal2 = """
             
              """

# Execute the query using pd.read_sql.
df_chal2 = pd.read_sql(query_chal2, conn)

print("Challenge 2")
print(df_chal2)

In [ ]:
query_chal3 = """

              """

# Execute the query using pd.read_sql.
df_chal3 = pd.read_sql(query_chal3, conn)

print("Challenge 3")
print(df_chal3)

In [ ]:
query_chal4 = """
         
              """

# Execute the query using pd.read_sql.
df_chal4 = pd.read_sql(query_chal4, conn)

print("Challenge 4")
print(df_chal4)

In [ ]:
query_chal5 = """
            
              """

# Execute the query using pd.read_sql.
df_chal5 = pd.read_sql(query_chal5, conn)

print("Challenge 5")
print(df_chal5)

In [ ]:
query_chal6 = """
        
              """

# Execute the query using pd.read_sql.
df_chal6 = pd.read_sql(query_chal6, conn)

print("Challenge 6")
print(df_chal6)

## Close the connection to the database.
Always close the connection when you're done to free up resources.

In [14]:
# Close the connection
conn.close()