In [13]:
import pandas as pd

olympics_data = pd.read_csv('olympics_08_medalists.csv')
print(olympics_data)



# Melting the DataFrame: I will convert the sport and gender columns (ex: 'male_archery', 'female_archery') 
# into 3 different columns - 'Sport', 'Gender' and 'Medal Type', which will describe if it was gold, silver or bronze. 

olympics_data_melted = pd.melt(olympics_data, 
                               id_vars=['medalist_name'], 
                               value_vars=olympics_data.columns[1:],  
                               var_name='Sports', 
                               value_name='Medal')

print(olympics_data_melted)

          medalist_name male_archery female_archery male_athletics  \
0       Aaron Armstrong          NaN            NaN           gold
1         Aaron Peirsol          NaN            NaN            NaN
2      Abdullo Tangriev          NaN            NaN            NaN
3     Abeer Abdelrahman          NaN            NaN            NaN
4               Abhinav          NaN            NaN            NaN
...                 ...          ...            ...            ...
1870        Éver Banega          NaN            NaN            NaN
1871  Ólafur Stefánsson          NaN            NaN            NaN
1872      Óscar Brayson          NaN            NaN            NaN
1873   Łukasz Pawłowski          NaN            NaN            NaN
1874        Živko Gocić          NaN            NaN            NaN

     female_athletics male_badminton female_badminton male_baseball  \
0                 NaN            NaN              NaN           NaN
1                 NaN            NaN              NaN           NaN
2                 NaN            NaN              NaN           NaN
3                 NaN            NaN              NaN           NaN
4                 NaN            NaN              NaN           NaN
...               ...            ...              ...           ...
1870              NaN            NaN              NaN           NaN
1871              NaN            NaN              NaN           NaN
1872              NaN            NaN              NaN           NaN
1873              NaN            NaN              NaN           NaN
1874              NaN            NaN              NaN           NaN

     male_basketball female_basketball  ... female_beach volleyball  \
0                NaN               NaN  ...                     NaN
1                NaN               NaN  ...                     NaN
2                NaN               NaN  ...                     NaN
3                NaN               NaN  ...                     NaN
4                NaN               NaN  ...                     NaN
...              ...               ...  ...                     ...
1870             NaN               NaN  ...                     NaN
1871             NaN               NaN  ...                     NaN
1872             NaN               NaN  ...                     NaN
1873             NaN               NaN  ...                     NaN
1874             NaN               NaN  ...                     NaN

     male_volleyball female_volleyball male_water polo female_water polo  \
0                NaN               NaN             NaN               NaN
1                NaN               NaN             NaN               NaN
2                NaN               NaN             NaN               NaN
3                NaN               NaN             NaN               NaN
4                NaN               NaN             NaN               NaN
...              ...               ...             ...               ...
1870             NaN               NaN             NaN               NaN
1871             NaN               NaN             NaN               NaN
1872             NaN               NaN             NaN               NaN
1873             NaN               NaN             NaN               NaN
1874             NaN               NaN          bronze               NaN

     male_weightlifting female_weightlifting male_freestyle wrestling  \
0                   NaN                  NaN                      NaN
1                   NaN                  NaN                      NaN
2                   NaN                  NaN                      NaN
3                   NaN               bronze                      NaN
4                   NaN                  NaN                      NaN
...                 ...                  ...                      ...
1870                NaN                  NaN                      NaN
1871                NaN                  NaN                      NaN
1872                NaN                  NaN                      NaN
1873                NaN                  NaN                      NaN
1874                NaN                  NaN                      NaN

     female_freestyle wrestling male_greco-roman wrestling
0                           NaN                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           NaN                        NaN
4                           NaN                        NaN
...                         ...                        ...
1870                        NaN                        NaN
1871                        NaN                        NaN
1872                        NaN                        NaN
1873                        NaN                        NaN
1874                        NaN                        NaN

[1875 rows x 71 columns]
            medalist_name                      Sports Medal
0         Aaron Armstrong                male_archery   NaN
1           Aaron Peirsol                male_archery   NaN
2        Abdullo Tangriev                male_archery   NaN
3       Abeer Abdelrahman                male_archery   NaN
4                 Abhinav                male_archery   NaN
...                   ...                         ...   ...
131245        Éver Banega  male_greco-roman wrestling   NaN
131246  Ólafur Stefánsson  male_greco-roman wrestling   NaN
131247      Óscar Brayson  male_greco-roman wrestling   NaN
131248   Łukasz Pawłowski  male_greco-roman wrestling   NaN
131249        Živko Gocić  male_greco-roman wrestling   NaN

[131250 rows x 3 columns]